@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
